<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>서울 핫플 찾기</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH"
      crossorigin="anonymous"
    />
  </head>
  <body>
    <h1>서울 핫플 찾기</h1>
    <div>
      <p>
        <%=dongTwo%>동에는 <br />
        10~20살의 남성이 <%=teensMale%>명, 10~20살의 여성이
        <%=teensFemale%>명,<br />
        20~30살의 남성이 <%=twentiesMale%>명, 20~30살의 여성이
        <%=twentiesFemale%>명, <br />
        30~40살의 남성이 <%=thirtiesMale%>명, 30~40살의 여성이
        <%=thirtiesFemale%>명, <br />
        40~50살의 남성이 <%=fortiesMale%>명, 40~50살의 여성이
        <%=fortiesFemale%>명, <br />
        50~60살의 남성이 <%=fiftiesMale%>명, 50~60살의 여성이
        <%=fiftiesFemale%>명, <br />
        60~70살의 남성이 <%=sixtiesMale%>명, 60~70살의 여성이
        <%=sixtiesFemale%>명, <br />
        70~80살의 남성이 <%=seventiesMale%>명, 70~80살의 여성이
        <%=seventiesFemale%>명 있습니다. <br />
        * 귀가 하시거나 지역을 이동하실 때는 꼭 초기화 버튼을 눌러주시기
        바랍니다. *
      </p>
      <!--
        여기서부터 다시해야 함 
        남은 일: 중요한 거 DB사용하는 법, 로그인 and 회원가입, 노가다 , css, 버튼 함수 넣기,
        비밀번호 찾기 이정도?
        -->
    </div>
    <div>
      <button type="button" class="btn btn-warning">취소하기</button>
      <button type="button" id="selectLoc" class="btn btn-success">
        지역선택하기
      </button>
    </div>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
      crossorigin="anonymous"
    ></script>
    <script>
      // 자꾸 경로를 잘못 설정하는지 js파일을 못 찾길래 그냥 script 태그에 적음
      const selectLoc = document.querySelector("#selectLoc");
      const savedEmail = localStorage.getItem("email");
      const savedPassword = localStorage.getItem("password");
      const savedAge = localStorage.getItem("age");
      const savedGender = localStorage.getItem("gender");
      const currentURL = window.location.href;
      const currentLoc = currentURL.slice(currentURL.lastIndexOf("/")+1);
      // lastIndexOf 함수는 문자열에서 해당 문자에 해당하는 마지막 문자를 가리킨다고 함
      console.log(typeof(currentLoc));
      console.log(currentLoc);
      selectLoc.addEventListener("click", function () {
        if ((savedAge > 10 && savedAge <= 20) && savedGender === "남성" && currentLoc === "sinsa") 
        // 10대 남성이고 /population/sinsa페이지에 있을 때
        {
          // console.log("성공!");
          fetch("/api/population/sinsa")
            .then((response) => response.json())
            .then((data) => {
              console.log(data);
              data.teensMale = Number(data.teensMale) + 1;
              fetch("/api/population/sinsa", {
                method: "post",
                headers: {
                  "Content-type": "application/json",
                },
                body: JSON.stringify(data),
              });
            });
        } else if (((savedAge > 10 && savedAge <= 20) && savedGender === "여성" && currentLoc === "sinsa")){
          fetch("/api/population/sinsa")
            .then((response) => response.json())
            .then((data) => {
              console.log(data);
              data.teensFemale = Number(data.teensFemale) + 1;
              fetch("/api/population/sinsa", {
                method: "post",
                headers: {
                  "Content-type": "application/json",
                },
                body: JSON.stringify(data),
              });
            });
        }  else if (((savedAge > 20 && savedAge <= 30) && savedGender === "남성" && currentLoc === "sinsa")){
          fetch("/api/population/sinsa")
            .then((response) => response.json())
            .then((data) => {
              console.log(data);
              data.twentiesMale = Number(data.twentiesMale) + 1;
              fetch("/api/population/sinsa", {
                method: "post",
                headers: {
                  "Content-type": "application/json",
                },
                body: JSON.stringify(data),
              });
            });
        }  else if (((savedAge > 20 && savedAge <= 30) && savedGender === "여성" && currentLoc === "sinsa")){
          fetch("/api/population/sinsa")
            .then((response) => response.json())
            .then((data) => {
              console.log(data);
              data.twentiesFemale = Number(data.twentiesFemale) + 1;
              fetch("/api/population/sinsa", {
                method: "post",
                headers: {
                  "Content-type": "application/json",
                },
                body: JSON.stringify(data),
              });
            });
        } else if (((savedAge > 30 && savedAge <= 40) && savedGender === "남성" && currentLoc === "sinsa")){
          fetch("/api/population/sinsa")
            .then((response) => response.json())
            .then((data) => {
              console.log(data);
              data.thirtiesMale = Number(data.thirtiesMale) + 1;
              fetch("/api/population/sinsa", {
                method: "post",
                headers: {
                  "Content-type": "application/json",
                },
                body: JSON.stringify(data),
              });
            });
        } else if (((savedAge > 30 && savedAge <= 40) && savedGender === "여성" && currentLoc === "sinsa")){
          fetch("/api/population/sinsa")
            .then((response) => response.json())
            .then((data) => {
              console.log(data);
              data.thirtiesFemale = Number(data.thirtiesFemale) + 1;
              fetch("/api/population/sinsa", {
                method: "post",
                headers: {
                  "Content-type": "application/json",
                },
                body: JSON.stringify(data),
              });
            });
        } else if (((savedAge > 40 && savedAge <= 50) && savedGender === "남성" && currentLoc === "sinsa")){
          fetch("/api/population/sinsa")
            .then((response) => response.json())
            .then((data) => {
              console.log(data);
              data.fortiesMale = Number(data.fortiesMale) + 1;
              fetch("/api/population/sinsa", {
                method: "post",
                headers: {
                  "Content-type": "application/json",
                },
                body: JSON.stringify(data),
              });
            });
        } else if (((savedAge > 40 && savedAge <= 50) && savedGender === "여성" && currentLoc === "sinsa")){
          fetch("/api/population/sinsa")
            .then((response) => response.json())
            .then((data) => {
              console.log(data);
              data.fortiesFemale = Number(data.fortiesFemale) + 1;
              fetch("/api/population/sinsa", {
                method: "post",
                headers: {
                  "Content-type": "application/json",
                },
                body: JSON.stringify(data),
              });
            });
        } else if (((savedAge > 50 && savedAge <= 60) && savedGender === "남성" && currentLoc === "sinsa")){
          fetch("/api/population/sinsa")
            .then((response) => response.json())
            .then((data) => {
              console.log(data);
              data.fiftiesMale = Number(data.fiftiesMale) + 1;
              fetch("/api/population/sinsa", {
                method: "post",
                headers: {
                  "Content-type": "application/json",
                },
                body: JSON.stringify(data),
              });
            });
        } else if (((savedAge > 50 && savedAge <= 60) && savedGender === "여성" && currentLoc === "sinsa")){
          fetch("/api/population/sinsa")
            .then((response) => response.json())
            .then((data) => {
              console.log(data);
              data.fiftiesFemale = Number(data.fiftiesFemale) + 1;
              fetch("/api/population/sinsa", {
                method: "post",
                headers: {
                  "Content-type": "application/json",
                },
                body: JSON.stringify(data),
              });
            });
        }  else if (((savedAge > 60 && savedAge <= 70) && savedGender === "남성" && currentLoc === "sinsa")){
          fetch("/api/population/sinsa")
            .then((response) => response.json())
            .then((data) => {
              console.log(data);
              data.sixtiesMale= Number(data.sixtiesMale) + 1;
              fetch("/api/population/sinsa", {
                method: "post",
                headers: {
                  "Content-type": "application/json",
                },
                body: JSON.stringify(data),
              });
            });
        }  else if (((savedAge > 60 && savedAge <= 70) && savedGender === "여성" && currentLoc === "sinsa")){
          fetch("/api/population/sinsa")
            .then((response) => response.json())
            .then((data) => {
              console.log(data);
              data.sixtiesFemale = Number(data.sixtiesFemale) + 1;
              fetch("/api/population/sinsa", {
                method: "post",
                headers: {
                  "Content-type": "application/json",
                },
                body: JSON.stringify(data),
              });
            });
        }  else if (((savedAge > 70 && savedAge <= 80) && savedGender === "남성" && currentLoc === "sinsa")){
          fetch("/api/population/sinsa")
            .then((response) => response.json())
            .then((data) => {
              console.log(data);
              data.seventiesMale = Number(data.seventiesMale) + 1;
              fetch("/api/population/sinsa", {
                method: "post",
                headers: {
                  "Content-type": "application/json",
                },
                body: JSON.stringify(data),
              });
            });
        }  else if (((savedAge > 70 && savedAge <= 80) && savedGender === "여성" && currentLoc === "sinsa")){
          fetch("/api/population/sinsa")
            .then((response) => response.json())
            .then((data) => {
              console.log(data);
              data.seventiesFemale = Number(data.seventiesFemale) + 1;
              fetch("/api/population/sinsa", {
                method: "post",
                headers: {
                  "Content-type": "application/json",
                },
                body: JSON.stringify(data),
              });
            });
        }
      });   
    </script>
  </body>
</html>
